<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <entry key="smtpHost" type="xstring" value="smtp.gmail.com"/>
        <entry key="smtpPort" type="xint" value="587"/>
        <entry key="useAuthentication" type="xboolean" value="true"/>
        <entry key="useCredentials" type="xboolean" value="false"/>
        <entry key="credentialsId" type="xstring" value=""/>
        <entry key="smtpUser" type="xstring" value="hmpikos@gmail.com"/>
        <entry key="smtpPasswordWeaklyEncrypted" type="xpassword" value="02EwAAAGMq_QxveL1vZ0EBj005DrExunChyfh50EUD_6VwF922B2Y-"/>
        <entry key="connectionSecurity" type="xstring" value="STARTTLS"/>
        <entry key="emailFormat" type="xstring" value="Text"/>
        <entry key="emailPriority" type="xstring" value="Normal"/>
        <entry key="from" type="xstring" value=""/>
        <entry key="to" type="xstring" value="hmpikos@hotmail.com"/>
        <entry key="cc" type="xstring" value=""/>
        <entry key="bcc" type="xstring" value=""/>
        <entry key="replyTo" type="xstring" value=""/>
        <entry key="subject" type="xstring" value="Workflow finished"/>
        <entry key="text" type="xstring" value="Table is attached in a document"/>
        <config key="attachedURLs">
            <entry key="array-size" type="xint" value="1"/>
            <entry key="0" type="xstring" value="file:/C:%5CUsers%5Chmpik%5Cknime-workspace%5CProjeto%20ISI%5CISI%20Workflow%5CData%5CEXCELData%5CFinalDataExcel.xls"/>
        </config>
        <entry key="smtpConnectionTimeout" type="xint" value="2000"/>
        <entry key="smtpReadTimeout" type="xint" value="30000"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.util.sendmail.SendMailNodeFactory"/>
    <entry key="node-name" type="xstring" value="Send Email"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.3.2.v202409100934"/>
    <entry key="node-feature-name" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-symbolic-name" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-vendor" type="xstring" isnull="true" value=""/>
    <entry key="node-feature-version" type="xstring" value="0.0.0"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Send Email"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports"/>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="8403f117-9ca7-47de-8f6f-aa37bef28fb2"/>
    </config>
</config>
